/* Custom Stylesheet

 * Use this file to override Materialize files so you can update
 * the core Materialize files in the future
 */
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@200;500&display=swap');

/* ////GENERAL STYLES */
html {
  scroll-behavior: smooth;
}

h1,
h2,
h3,
h4,
h5 {
  font-family: 'Oswald', sans-serif;
}

.section-header {
  color: #fff;
  padding-bottom: 0.5rem;
  border-bottom: 2px solid #fff;
}

.highlite {
  color: #dc3f0e;
}

blockquote {
  border-left: 5px solid #dc3f0e;
  letter-spacing: 0.0625em;
}

.beer-abv {
  font-weight: 200;
  font-size: 1rem;
}

#beer-card {
  margin-top: 1rem;
}

/* //page backgrounds */
#index-bg {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(177, 24, 24, 0.205)
    ),
    url('/img/bg.jpg');
  background-repeat: no-repeat;
  height: 100vh;
  background-size: cover;
}

#beers-bg {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(177, 24, 24, 0.205)
    ),
    url('/img/twickenham-pint.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
  background-position: right center;
}

#home-delivery-bg {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(177, 24, 24, 0.205)
    ),
    url('/img/twickenham-cask.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}

#our-pub-bg {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(177, 24, 24, 0.205)
    ),
    url('/img/the-rifleman.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}

#contact-bg {
  background-image: linear-gradient(
      rgba(0, 0, 0, 0.5),
      rgba(177, 24, 24, 0.205)
    ),
    url('/img//twickenam-building.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  height: 60vh;
}

/* page headings */

#page-heading-container {
  background-color: #dc3f0e;
  position: absolute;
  top: 55vh;
  margin: 0;
}

#page-heading {
  color: white;
  padding: 0.3rem 1.5rem 0.5rem 1.5rem;
  margin: 0;
}
/* ////HERO AND NAVIGATION */
/* // nav */
.brand-logo {
  margin-top: 1rem;
  margin-left: 2rem;
}

.brand-logo img {
  filter: invert(1);
}

nav {
  height: 6rem;
  box-shadow: none;
}

nav ul {
  margin-top: 1rem;
  margin-right: 2rem;
}

.active-nav-link {
  font-weight: bold;
}

/* //mobile side nav */
.sidenav {
  background-color: rgba(48, 48, 48, 0.95);
  max-width: 65vw;
  border-top-left-radius: 10px;
}

.sidenav li:first-child {
  margin-top: 4rem;
}

.sidenav li a {
  color: white;
  text-transform: uppercase;
}
.sidenav li:hover {
  background-color: rgb(58, 58, 58);
}

#beers-nav h2 ul li {
  display: inline;
}
.beers-nav-item {
  color: gray;
}

/* //hero */
#hero-heading {
  margin-top: 30vh;
  font-size: 10vw;
}

/* //Social media container */
#social-media-container {
  position: fixed;
  margin: 8rem 0 0 1.5rem;
}

.social-media-icon {
  cursor: pointer;
}

/* BEER list in beers page */

.tabs {
  display: grid;
  border-radius: 5px 5px 0 0;
}

[role='tablist'] {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(4rem, 1fr));
}

[role='tabpanel'] {
  border-top: 2px solid #dc3f0e;
  padding: 2rem;
  background-color: #262626;
}

button[role='tab'] {
  height: 4rem;
  background: rgb(41, 41, 41);
  border: 0;
  font-size: 1rem;
  font-family: 'Oswald', sans-serif;
  color: rgb(138, 138, 138);
  border-radius: 5px 5px 0 0;
  box-shadow: inset 0 -2px 5px rgb(44, 44, 44);
  cursor: pointer;
}

button[aria-selected='true'] {
  font-size: 1.2rem;
  background: #dc3f0e;
  box-shadow: none;
  color: #fff;
}

/* ////FOOTER */

#footer-social-media-icons ul li {
  display: inline-block;
  margin: 0.3rem;
}

@media (max-width: 745px) {
  .brand-logo {
    margin-left: 0.5rem;
  }

  #social-media-container {
    margin: 1rem 0 0 0.5rem;
    position: relative;
  }

  #social-media-container img {
    width: 1rem;
  }

  #hero-heading {
    margin-top: 25vh;
    font-size: 3rem;
  }

  #cta {
    font-size: 1rem;
  }

  #map {
    width: 75vw;
  }

  #beers-nav h2 ul li {
    display: block;
  }

  #beer-card {
    margin-top: 3rem;
  }
}
